<launch>
  <node pkg="grinder_chassis_driver"
        type="chassis_driver_node.py"
        name="chassis_driver"
        output="screen">
    <param name="config_file" value="$(find grinder_chassis_driver)/config/chassis_driver.yaml" />
    <rosparam command="load" file="$(find grinder_chassis_driver)/config/chassis_driver.yaml" />
  </node>
</launch>
